@use "../../../shared/styles/variables.scss" as *;

.layout {
  width: 100%;
  min-height: 100vh;
  background-color: $auth-bg-color;
  display: flex;

  & > div {
    width: 50%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
