@use "../../styles/variables.scss" as *;

.input {
  border: none;
  border: 1px solid $grey-color;
  box-shadow: none;
  background: #fff;
  padding: 6px 12px;
  border-radius: 8px;
  user-select: none;
  outline: none;
  font-family: "Roboto";
}
