@use "../../styles/variables.scss" as *;

.container {
  border-radius: 10px;
  border: 1px solid $grey-color;
}

.table {
  font-family: "Roboto";
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    text-align: left;
    padding: 16px;
    border-bottom: 1px solid $grey-color;
  }

  tbody {
    tr:last-child {
      td {
        border-bottom: none;
      }
    }
  }
}
